body {
  background-image: url("fireworks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#intro_page {
 transform: translate(0, 30%)
}

h1 {
  margin-bottom: 2rem;
  color: white;
  font-family: "Tektur", sans-serif;
  font-weight: 600;
  text-align: center;
  text-shadow: 2px 2px rgb(15, 165, 252);
  font-size: 4rem;
}

.btn_style {
  border-radius: 10px;
  color: #ffffff;
  font-family: "Tektur", sans-serif;
  font-size: 15px;
  font-weight: 100;
  padding: 10px;
  background-color: #f63d6e;
  text-shadow: 1px 1px 20px #000000;
  border: groove #ffffff 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn_style:hover {
  background-color: rgb(152, 22, 22);
}

.btn_spacing {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #ffffff;
}

#answer_info {
  color: white;
  font-size: 1.1rem;
}

#score_time {
  color: white;
  text-shadow: 1.6px 1.6px rgb(15, 165, 252);
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  font-family: "Marmelad", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  /* font-weight: 600; */
}

.non_question_text {
  /* font-family: "Londrina Solid", sans-serif; */
  color: rgb(192, 192, 192);
  font-weight: 600;
  font-family: "Marmelad", sans-serif;
}

/* only on questpage.html */
#question_box {
  height: 30rem;
  width: 68rem;
  position: relative;
  left: 50%;
  top: 50%;
  margin-top: 16rem;
  transform: translate(-50%, -20%);
  padding: 10px;
}

#question_text {
  padding: 3rem;
  margin-bottom: 3rem;
  margin-top: 0;
}

.quest_answer_style {
  border: 1.2mm solid rgb(192, 192, 192);
  background-color: rgb(15, 165, 252);
  padding: 2rem;
  font-family: "Tektur", sans-serif;
  text-align: center;
}

.two_answers {
  display: flex;
}

.answer_spacing_top {
  margin-bottom: 0.5rem;
}
.answer_spacing_left {
  margin-right: 0.25rem;
}

.answer_spacing_right {
  margin-left: 0.25rem;
}

.answer_size {
  width: 50%;
}

#final_stats {
  width: 68rem;
  position: absolute;
  left: 15%;
  top: 25%; 
  background-image: url("stats_timer.jpg");
  border: 8px ridge rgb(15, 165, 252);
  color: white;
  text-align: center;
  font-family: "Marmelad", sans-serif;
  font-size: 2rem;
  text-shadow: 2px 2px rgb(15, 165, 252);
  padding-bottom: 2.4rem;
}

.final_info {
  color: black;
  font-size: 4rem;
  font-weight: bolder;
}

.hidden {
  display: none;
}

/* only on index.html */

#timer {
  display: block;
  width: 300px;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  --mask: radial-gradient(31.56px at 50% 43.2px, #000 99%, #0000 101%)
      calc(50% - 32px) 0/64px 51% repeat-x,
    radial-gradient(31.56px at 50% -27.2px, #0000 99%, #000 101%) 50% 16px/64px
      calc(51% - 16px) repeat-x,
    radial-gradient(31.56px at 50% calc(100% - 43.2px), #000 99%, #0000 101%)
      calc(50% - 32px) 100%/64px 51% repeat-x,
    radial-gradient(31.56px at 50% calc(100% + 27.2px), #0000 99%, #000 101%)
      50% calc(100% - 16px) / 64px calc(51% - 16px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.quiz_info_style {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Marmelad", sans-serif;
}

#rules {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 45%;
  margin: auto;
  margin-top: 3rem;
}

.gen_questions {
  display: flex;
  width: 45%;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}

.user_info {
  box-sizing: border-box;
  width: 15rem;
  border: 1.2mm solid rgb(192, 192, 192);
  background-color: rgb(15, 165, 252);
  padding: 0.5rem;
  font-family: "Tektur", sans-serif;
  margin-top: 2rem;
  text-align: left;
}

#start_btn {
  text-align: center;
  margin-top: 1rem;
}

#trivia_title {
  display: flex;
  /* text-align: center; */
  align-items: center;
  margin: auto;
  justify-content: center;
  width: 50%;
}
